
        .card {
            border: none
        }

        .product {
            background-color: #eee
        }

        .brand {
            font-size: 13px
        }

        .act-price {
            color: #f7444e;
            font-weight: 700
        }

        .dis-price {
            text-decoration: line-through
        }

        .about {
            font-size: 14px;
        }

        .color {
            margin-bottom: 10px;
        }

        label.radio {
            cursor: pointer;
        }

        label.radio input {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            pointer-events: none;
        }

        label.radio span {
            padding: 2px 9px;
            border: 2px solid #f7444e;
            display: inline-block;
            color: #f7444e;
            border-radius: 3px;
            text-transform: uppercase
        }

        label.radio input:checked+span {
            border-color: #f7444e;
            background-color: #f7444e;
            color: #fff;
        }

        .btn-danger {
            background-color: #f7444e !important;
            border-color: #f7444e !important
        }

        .btn-danger:hover {
            background-color: #f7444e !important;
            border-color: #f7444e !important;
        }

        .btn-danger:focus {
            box-shadow: none;
        }

        .cart i {
            margin-right: 10px
        }
        .Back a{
            color: #002c3e;
        }
   